{% extends "crm/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Used Books{% endif %}
{% endblock %}

{% block content %}

  <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}Used Books{% endif %}</h1>
    {% for service in services %}
      <div class="item">
        <a href="{{ service.get_absolute_url }}">
          <img src="{% if service.image %}{{ service.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <h2><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></h2>
        <h2>${{ service.price }}</h2><br><br>
      </div>
    {% endfor %}
  </div>
{% endblock %}