<!-- SELL BOOKS PAGE -->
{% extends 'crm/base.html' %}
{% load static %}


{% block title %}
  {{ service.name }}
{% endblock %}

{% block content %}
  <div class="service-details">
    <h1>{{ service.name }}</h1>
    <p class="price">${{ service.price }}</p>
      <h3>Author: <h4>{{ service.author }}</h4></h3>
      <img src="{% if service.image %}{{ service.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
      <h3>Book Edition: <h4>{{ service.edition }}</h4></h3>
      <h3>ISBN: <h4>{{ service.isbn }}</h4></h3>
      <h3>Seller Name <h4>{{ service.sellername }}</h4></h3>
   <h3>Seller Contact E-mail <h4>{{ service.selleremail }}</h4></h3>
   <h3>Seller Contact Phone Number <h4>{{ service.sellerphone }}</h4></h3>

  <td><a href="{% url 'crm:service_edit' pk=service.pk %}"
                           class="btn btn-warning">Edit</a></td>

                <td><a href="{% url 'crm:service_delete' pk=service.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>


  </div>

</html>
{% endblock %}
