<!-- SELL BOOKS PAGE -->
{% extends 'crm/base.html' %}
{% load static %}
{% block content %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Bookinator</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
   <body>
    <style>
        body {
            background-color: white;

        }
    </style>
    <div class="container">
        <div id="background" align="center">
            <img src="{% static "images/SellOldBooks.jpg" %}">
            <h3>Fancy a little pocket money? Add Books you want to sell on Bookinator! </h3>
         </div>
    </div>
    <div class="row" style="padding-left: 2%">
            <a href="{% url 'crm:service_new' %}"><span
                    class="btn btn-primary">Add Book</span></a>
    </div>

    <div id="main" class="product-list">
    <h1>{% if category %}{{ category.name }}{% else %}List of Used Books{% endif %}</h1>
    {% for service in services %}
      <div class="item">
        <a href="{{ service.get_absolute_url }}">
          <img src="{% if service.image %}{{ service.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ service.get_absolute_url }}">{{ service.name }}</a><br>
        ${{ service.price }}
      </div>
    {% endfor %}
  </div>


    </body>
    </html>
{% endblock %}


