{% extends "crm/base.html" %}
{% load staticfiles %}


<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="links">
                    <!-- Example row of columns -->
                    <div class="row">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/bookinatorbooks.jpg" %}" alt="customer"/>
                                <div class="caption">
                                    <h2>New Books</h2>
                                    <p>Buy new books from Bookinator's own inventory</p>

                                        <p><a class="btn btn-default" href="{% url 'shop:product_list' %}"
                                              role="button">View
                                            details &raquo;</a></p>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="{% static "images/studentbooks.jpg" %}" alt="cupcakes"/>
                                <div class="caption">
                                    <h2>Used Books</h2>
                                    <p>Buy used books from other students</p>
                                    <p><a class="btn btn-default" href="{% url 'crm:book_list' %}"
                                           role="button">View
                                        details &raquo;</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>

